{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static './style.css'%}">
    <title>Document</title>
</head>
<body>

    <div class="main-site">
        <div class="navigation">
            <nav class="main-nav sticky-top">
                <a href="#">
                  <img src="{% static 'logo.png'%}" width="30" height="30" class="d-inline-block align-top logo" alt="""><p id = "title1">FASAL</p></img>
                </a>
                <p id="Signout1"><u><a href="login"> Sign Out</a></u></p>
              </nav>
        </div>
        <div class="card text-center main-card">
            <div class="card-header">
                <h2 id="titlee">Recommended scheduling is:</h2>
            </div>
            <div class="card-body">
                <ul class = "listt center">
                    {%for crop, price in info%}
                    <li class="list-items"><h4>{{crop}}</h4>
                        <div class="d-flex align-content-center flex-wrap"><p>Price: {{price}} </p></div>
                       
                    </li>
                    {%endfor%}
                    
                </ul>


              <form action="index"><button class="btn btn-primary Sumit" type="submit">Enter other data</button></form>
            </div>
          </div>

    </div>
</body>
</html>

