{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{%static './style.css' %}">
    <title>Covid19 - Task Force</title>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
</head>
<body>
    <div class="main-site">
        <div class="navigation">
            <nav class="main-nav sticky-top">
                
                <a href="#">
                <img src="{% static 'logo.png'%}" width="30" height="30" class="d-inline-block align-top logo" alt="" />
                <p id="title1">covid19_taskforce</p>
                </a>
                
            </nav>
            <p id="Signout1"><b><u><a href="login"> Sign Out</a></b></u></p>
        }
        {% csrf_token %}
        </div>

        
            <div class="card text-center main-card">
                <h2><b>Welcome {{user.first_name}} !</b></h2>
                <div class="card-header">
                    <h1 id="titlee">Your institute will tell you about the slots due to safety purpose</h1>
                    <h2 id="titlee">Date for reaching campus is :) {{end}}</h2>
                </div>
                <table>
                    <tr>
                        <th>Slots</th>
                        <th>Remaining_Students</th>
                        <th>Date</th>
                    </tr>
                    {% for i in zipped_list %}
                    <tr>
                        <td>{{i.2}}</td>
                        <td>{{i.1}}</td>
                        <td>{{i.0}}</td>
                    </tr>
                    {% endfor %}
                
                </table>
               
    
              </div> 
        </div>
        
    </div>
 </body>